table.TimeTrackerTable,
table.TimeTrackerControlls,
div.TimeTrackerMessage {
    border: 1px solid black;
}
div.TimeTrackerMessage {
    background-color: white;
    padding: 1px 3px;
    float: right;
}
.TimeTrackerError {
    background-color: red;
}
table.TimeTrackerControlls {
    margin-top: 5px;
}
table.TimeTrackerTable th {
    background-color: #ddf;
}
.TimeTrackerActive {
    background-color: #9d9;
    border: 1px solid black;
}
.TimeTrackerBordered {
    border: 1px solid black;
    height: 100%;
}
.TimeTrackerBooked .TimeTrackerBordered {
    border: none;
}
.TimeTrackerValue {
    min-height: 1em;
}
.TimeTrackerBooked {
    background-color: #dff;
}
.TimeTrackerButton {
    background-color: #ddd;
    border: 1px solid #aaa;
    margin: 1px;
    padding: 1px;
}
span.TimeTrackerStarted {
    display: none;
}
.TimeTrackerBooked .TimeTrackerBook,
.TimeTrackerActive .TimeTrackerBook,
.TimeTrackerActive .TimeTrackerUnBook,
.TimeTrackerUnBook {
    display: none;
}
.TimeTrackerBooked .TimeTrackerUnBook {
    display: initial;
}
.TimeTrackerInRevision {
    display: none;
}
